<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | 群</title>
{#    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">#}
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/icheck/all.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <link rel="stylesheet" href="/static/plugins/hint/css/hint.css">
    <style>

      .box-body .form-group {
        width: 250px;
      }
      .btn-group > button{
        width: 125px;
      }

    </style>
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

      <div class="modal fade" id="member-create-modal">
        <div class="modal-dialog">
          <form method="post" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">新建成员</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-feedback">
                <label for="member-name">成员姓名</label>
                <input type="text" class="form-control" name="name" placeholder="输入名字">
                <span class="glyphicon glyphicon-tags form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                {% if group.identifier != 2 %}
                  <label for="member-identifier">验证</label>
                  {% if group.identifier == 0 %}
                    <input type="text" class="form-control" name="identifier" placeholder="输入秘钥">
                  {% elif group.identifier == 1 %}
                    <input type="text" class="form-control" name="identifier" placeholder="输入邮箱">
                  {% endif %}
                  <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
                {% endif %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-flat">创建</button>
            </div>
          </form>
        </div>
      </div>

      <header class="main-header">
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>{{ project_name }}</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="{% if msgs_count > 0  %}你有 {{ msgs_count }} 条连边请求{% else %}无新消息{% endif %}">
                <a href="{% url 'home' %}">
                  <i class="fa fa-envelope-o"></i>
                  {% if msgs_count >= 99  %}
                    <span class="label label-danger">99</span>
                  {% elif msgs_count > 0 %}
                    <span class="label label-success">{{ msgs_count }}</span>
                  {% endif %}
                </a>
              </li>
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="帮助">
                <a href="#">
                  <i class="fa fa-question"></i>
                </a>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/images/avatars/{{ user.id }}.png" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{ user.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'ego' %}>我的网络</a></li>
                  <li><a href={% url 'global' %}>全局网络</a></li>
                  <li><a href={% url 'profile' %}>个人信息</a></li>
                  <li><a href={% url 'settings' %}>系统设置</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'logout' %}>登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <img onclick="window.location.href='{% url 'avatar' %}'" src="/static/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
          </div>
          <div id="search" class="input-group sidebar-form">
            <input type="text" name="q" class="form-control" placeholder="搜索群...">
            <span class="input-group-btn">
              <button class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <ul class="sidebar-menu">
            <li class="header">我的群</li>
            {% for k, v in sug.items %}
              <li>
                <a href="{% url 'group' k %}">
                  <i class="fa fa-circle-o text-yellow"></i>
                  <span>{{ v }}</span>
                </a>
              </li>
            {% endfor %}
            {% for group in groups %}
              <li>
                <a href="{% url 'group' group.id %}">
                  {% if group.creator == user %}
                    <i class="fa fa-circle-o text-aqua"></i>
                  {% else %}
                    <i class="fa fa-circle-o text-green"></i>
                  {% endif %}
                  <span>{{ group.group_name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            我创建的群: <span class="text-bold">{{ group.group_name }}</span>
{#            <small>Optional description</small>#}
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ project_name }}</a></li>
            <li class="active">群</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <div class="col-md-5">
                    <div class="form-group has-feedback">
                      <label>群</label>
                      <input type="text" class="form-control" name="name" placeholder="{{ group.group_name }}" disabled>
                      <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <label>成员数量</label>
                      <input type="number" class="form-control" name="" placeholder="{{ members_count }}" disabled>
                      <span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                      <label>验证方式</label>
                      <select class="form-control select2" name="identifier" disabled>
                        <option value="0" {% if group.identifier == 0 %}selected="selected"{% endif %}>秘钥</option>
                        <option value="1" {% if group.identifier == 1 %}selected="selected"{% endif %}>邮箱</option>
                        <option value="2" {% if group.identifier == 2 %}selected="selected"{% endif %}>无验证</option>
                      </select>
                    </div>
                    <label>类型</label>
                    <div class="form-group">
                      <label style="padding-right: 15px">
                        <input type="radio" name="gtype" class="minimal" {% if group.type == 0 %}checked{% else %}disabled{% endif %}>
                        公开
                      </label>
                      <label>
                        <input type="radio" name="gtype" class="minimal" {% if group.type == 1 %}checked{% else %}disabled{% endif %}>
                        私有
                      </label>
                    </div>
                    {% if group.identifier != 2 %}
                      <div class="form-group">
                        <label>新成员</label>
                        <div class="btn-group">
                          <button type="button" class="btn bg-navy btn-flat" data-toggle="modal" data-target="#member-create-modal">新增</button>
                          <button type="button" class="btn bg-purple btn-flat hint--bottom hint--rounded hint--bounce" aria-label="文件格式&#10;&#10;名字1, 秘钥1&#10;名字2, 秘钥2&#10;..." onclick="chooseFile();">从文件</button>
                          <form id="from-file" method="post" action="{% url 'uploadMembers' group.id %}" enctype="multipart/form-data" hidden>
                            <input id="from-file-input" type="file" name="members"/>
                          </form>
                        </div>
                        {% if update_status != None %}
                          {% if not update_status %}
                            {% if name == -1 %}
                              <p class="text-center bg-red" style="margin-top: 5px">文件格式错误</p>
                            {% else %}
                              <p class="text-center bg-red" style="margin-top: 5px">新建 "{{ name }}" 失败</p>
                            {% endif %}
                          {% else %}
                            <p class="text-center bg-green" style="margin-top: 5px">成功新建成员</p>
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-md-7">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>成员</th>
                        <th>秘钥</th>
                        <th>创建时间</th>
                        <th>状态</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for member in members %}
                          <tr>
                              {% if member.is_creator %}
                                <td>Me</td>
                              {% else %}
                                <td><a href="#">{{ member.member_name }}</a></td>
                              {% endif %}
                            <td>{{ member.token }}</td>
                            <td>{{ member.created_time|date:'Y-m-d' }}</td>
                            {% if member.is_joined %}
                              <td><span class="label label-success" title="已加入"><span class="fa fa-check-square"></span></span></td>
                            {% else %}
                              <td><span class="label label-warning" title="未加入"><span class="fa fa-circle"></span></span></td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="box-footer clearfix">
                  <div class="box-tools pull-right">
                    <button type="button" class="btn bg-red">删除群</button>
                  </div>
                  <div class="box-tools pull-left">
                    <ul class="pagination pagination-sm inline">
                      {% if members.has_previous %}
                        <li><a href="{% url 'group' group.id %}?mpage={{ members.previous_page_number }}">«</a></li>
                      {% else %}
                        <li class="disabled"><a href="#">«</a></li>
                      {% endif %}
                      <li><a>{{ members.number }}/{{ members.paginator.num_pages }}</a></li>
                      {% if members.has_next %}
                        <li><a href="{% url 'group' group.id %}?mpage={{ members.next_page_number }}">»</a></li>
                      {% else %}
                        <li class="disabled"><a href="#">»</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% if requests|length != 0 %}
              <div class="col-md-4 col-sm-12">
                <div class="box box-warning">
                  <div class="box-header with-border">
                    <h3 class="box-title">请求</h3>
                  </div>
                  <div class="box-footer box-comments">
                    {% for req in requests %}
                      <div class="box-comment">
                        <img class="img-circle img-sm" src="/static/images/avatars/{{ req.user.id }}.png" alt="user image">
                        <div class="comment-text">
                          <span class="username">
                            {{ req.user.first_name }} {{ req.user.last_name }}
                            <span class="text-muted pull-right">{{ req.created_time|date:'Y-m-d' }} {{ req.created_time|time:'H:i' }}</span>
                          </span>
                          {{ req.message }}
                        </div>
                        <a href="{% url 'joinConfirm' group.id req.id %}" class="btn bg-navy btn-xs pull-right"><i class="fa fa-flash"></i> 接受</a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
          <div class="pull-right hidden-xs">
            <a href="http://seeleit.com" target="_black">POWERED BY HT</a>
          </div>
          <strong>Copyright &copy; 2016 <a href="http://cnc.sjtu.edu.cn" target="_black">CNC</a>.</strong> All rights reserved.
      </footer>
    </div>

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/app.min.js"></script>
    <script src="/static/plugins/icheck/icheck.min.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.easing.1.3.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.mousewheel.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.rollbar.min.js"></script>
    <script src="/static/lineme/js/rollbar.js"></script>
    <script src="/static/lineme/js/autocomplete.js"></script>
    <script type="text/javascript">

      var emails = "{{ user.email }}".split("@");
      var births = "{{ user.extra.birth }}".split(",");
      var locations = "{{ user.extra.location }}".split(" ");
      var institutions = "{{ user.extra.institution }}".split(" ");
      $('#profile-email1').text(emails[0]);
      $('#profile-email2').text('@'+emails[1]);
      $('#profile-birth').text(births[0]);
      $('#profile-location1').text(locations[0]);
      $('#profile-location2').text(locations[1]);
      $('#profile-institution1').text(institutions[0]);
      $('#profile-institution2').text(institutions[1]);

      $('.modal').on('show.bs.modal', function (e) {
        var $dialog = $(this).find('.modal-dialog');
        $dialog.css({
            'margin-top': function () {
                var modalHeight = $dialog.height();
                return ($(window).height() / 6 - (modalHeight / 2));
            }
        });
      });

      $('input[type="radio"].minimal').iCheck({
        radioClass: 'iradio_flat-green'
      });

      function chooseFile() {
        $('#from-file-input').click()
      }

      $('#from-file-input').change(function() {
        $('#from-file').submit();
      });

      $('#search').autocomplete();

    </script>
  </body>
</html>
