<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | 个人信息</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/plugins/icheck/all.css">
    <link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <link rel="stylesheet" href="/static/plugins/hint/css/hint.css">
    <style>

      .pull-left {
        margin-top: 3px;
      }

      .content-wrapper {
        margin-left: 0;
      }

      .main-footer {
        margin-left: 0;
      }

    </style>
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>{{ project_name }}</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="{% if msgs_count > 0  %}你有 {{ msgs_count }} 条连边请求{% else %}无新消息{% endif %}">
                <a href="{% url 'home' %}">
                  <i class="fa fa-envelope-o"></i>
                  {% if msgs_count >= 99  %}
                    <span class="label label-danger">99</span>
                  {% elif msgs_count > 0 %}
                    <span class="label label-success">{{ msgs_count }}</span>
                  {% endif %}
                </a>
              </li>
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="帮助">
                <a href="#">
                  <i class="fa fa-question"></i>
                </a>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/static/images/user_avatars/{{ user.id }}.png" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{ user.username }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'ego' %}>我的网络</a></li>
                  <li><a href={% url 'global' %}>全局网络</a></li>
                  <li><a href={% url 'profile' %}>个人信息</a></li>
                  <li><a href={% url 'settings' %}>系统设置</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'logout' %}>登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
{#            Edit Profile#}
{#            <small>Optional description</small>#}
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ project_name }}</a></li>
            <li class="active">个人信息</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
              <div class="box-body">
                <div class="box box-widget widget-user-2">
                  <div class="widget-user-header bg-purple">
                    <div class="widget-user-image">
                      <img onclick="window.location.href='{% url 'avatar' %}'" class="img-circle" src="/static/images/user_avatars/{{ user.id }}.png" alt="User Avatar">
                    </div>
                    <h3 class="widget-user-username"><strong>{{ username }}</strong></h3>
                    <h5 class="widget-user-desc">{{ user.email }}</h5>
                  </div>
                  <form method="post" action="{% url 'profile' %}">
                    <div class="box-body">
                      <div class="form-group has-feedback">
                        <label>名</label>
                        <input name="firstname" type="text" class="form-control" value="{{ user.first_name }}">
                      </div>
                      <div class="form-group has-feedback">
                        <label>姓</label>
                        <input name="lastname" type="text" class="form-control" value="{{ user.last_name }}">
                      </div>
                      <div class="form-group">
                        <label>生日</label>
                        <input type="text" id="birth" name="birth" class="form-control" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" value="{{ user.extra.birth |date:'Y/m/d' }}">
                      </div>
                      {% load filters %}
                      <div class="form-group" id="country-form">
                        <label>国家</label>
                        <input type="text" class="form-control form-dummy" placeholder="国家">
                        <select name="country" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                          {% for c in cities_table.keys|sort_list %}
                            {% if c == country %}
                              <option selected="selected" value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                            {% elif country == "" and c == "China" %}
                              <option selected="selected" value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                            {% else %}
                              <option value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group" id="city-form">
                        {% load filters %}
                        <label>故乡</label>
                        <input type="text" class="form-control form-dummy" placeholder="故乡">
                        {% for country in cities_table.keys %}
                          <select name="city" id="{{ country.split|join:'-'|safe }}" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" disabled>
                            {% for c in cities_table|get_value_dict_keys:country|sort_list %}
                              {% if c == city %}
                                <option selected="selected">{{ c }}</option>
                              {% else %}
                                <option>{{ c }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        {% endfor %}
                      </div>
                      <div class="form-group has-feedback">
                        <label>所属</label>
                        <input name="institution" type="text" class="form-control" {% if user.extra.institution %}value="{{ user.extra.institution }}"{% endif %}>
                      </div>
                      <div class="form-group">
                        <label>性别</label>
                        <div class="input-group">
                          <label style="padding-right: 15px">
                            <input type="radio" name="gender" class="minimal" value="0" {% if user.extra.gender == 0 %}checked{% endif %}>
                            男
                          </label>
                          <label>
                            <input type="radio" name="gender" class="minimal" value="1" {% if user.extra.gender == 1 %}checked{% endif %}>
                            女
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="box-footer no-padding">
                    <div class="row">
                      <div class="col-xs-12">
                          <button id="submit" class="btn btn-lg btn-block btn-flat bg-olive">
                            {% if first_login %}
                              继续
                            {% else %}
                              保存
                            {% endif %}
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a href="http://www.seeleit.com" target="_black">POWERED BY HT</a>
        </div>
        <strong>Copyright &copy; 2016 <a href="http://cnc.sjtu.edu.cn" target="_black">CNC</a>.</strong> All rights reserved.
      </footer>
    </div>

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/app.min.js"></script>
    <script src="/static/plugins/select2/select2.full.min.js"></script>
    <script src="/static/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="/static/plugins/icheck/icheck.min.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.easing.1.3.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.mousewheel.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.rollbar.js"></script>
    <script src="/static/lineme/js/rollbar.js"></script>
    <script type="text/javascript">

      var country = "{{ country }}".replace(' ', '-'), city = "{{ city }}";

      $("#birth").inputmask("yyyy/mm/dd", {"placeholder": "yyyy/mm/dd"});

      $('input[type="radio"].minimal').iCheck({
        radioClass: 'iradio_flat-blue'
      });

      $('#submit').click(function() {
        $.post('{% url 'profile' %}', $("form").serialize(), function(data) {
           if(data == -1) alert("There're some mistakes / missings in your submission");
           else window.location.href="{% url 'home' %}";
        });
      });

      var $cityFrom = $("#city-form");

      $("#country-form").children("select").select2({
        minimumResultsForSearch: 5
      }).on("change", function(e) {
         $cityFrom.children("span").hide();
         $("#" + country).attr("disabled", true);
         country = $(this).select2("val");
         $("#" + country).attr("disabled",false).next("span").show();
      });

      $cityFrom.children(".select2").select2({
        minimumResultsForSearch: 5
      });

      $cityFrom.children("span").hide();
      if(country == "") {
        $("#China").attr("disabled",false).next("span").show();
      }
      else {
        $("#"+ country).attr("disabled",false).next("span").show();
      }

      $('.form-dummy').hide();

    </script>
  </body>
</html>
