{% extends "zh_cn/basic_gate.html" %}

{% block title %}忘记密码{% endblock %}

{% block content %}
  <div class="login-box-body">
    {% if status == 1 %}
      <h2 class="login-box-msg">邮件已发送</h2>
    {% elif status == 2 %}
      <h2 class="login-box-msg">密码已重置</h2>
    {% elif status == -3 %}
      <h2 class="login-box-msg">链接无效或已过期</h2>
    {% else %}
      <p class="login-box-msg">忘记密码</p>
      <form method="post">
        {% if status == -1 %}
          <div class="form-group has-error has-feedback">
          <label class="control-label"><i class="fa fa-times"></i> 无效邮箱</label>
        {% else %}
          <div class="form-group has-feedback">
        {% endif %}
          <input name="email" type="email" class="form-control" placeholder="邮箱">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-offset-8 col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="this.form.submit(); this.disabled=true;">发送邮件</button>
          </div>
        </div>
      </form>
    {% endif %}
    <a href="{% url 'login' %}">返回登录</a><br>
    <a href="{% url 'register' %}" class="text-center">注册新账号</a>
  </div>
{% endblock %}
