<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | Register</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">

    {% load compress %}
    {% compress css %}
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
      <link rel="stylesheet" href="/static/plugins/icheck/square/blue.css">
    {% endcompress %}
  </head>
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="{% url 'login' %}"><b>{{ project_name }}</b></a>
      </div>
      <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>
        <form method="post">
          {% if status == -4 %}
            <p class="text-center bg-red">Register Failed </p>
          {% endif %}
          {% if status == -1 %}
            <div class="form-group has-error has-feedback">
            <label class="control-label"><i class="fa fa-times"></i> Invalid Username</label>
            <input name="username" type="text" class="form-control" placeholder="Longer than 6, letters and nums">
          {% else %}
            <div class="form-group has-feedback">
            <input name="username" type="text" class="form-control" placeholder="Username">
          {% endif %}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          {% if status == -2 %}
            <div class="form-group has-error has-feedback">
            <label class="control-label"><i class="fa fa-times"></i> Invalid Email Address</label>
          {% else %}
            <div class="form-group has-feedback">
          {% endif %}
            <input name="email" type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          {% if status == -3 %}
            <div class="form-group has-error has-feedback">
            <label class="control-label"><i class="fa fa-times"></i> Invalid Password</label>
            <input name="password" type="password" class="form-control" placeholder="Longer than 6, letters and nums">
          {% else %}
            <div class="form-group has-feedback">
            <input name="password" type="password" class="form-control" placeholder="Password">
          {% endif %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="password2" type="password" class="form-control" placeholder="Re-enter password">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
               <a href="{% url 'login' %}" class="text-center">I already have an account</a>
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% compress js %}
      <script src="/static/plugins/jquery/jquery.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/plugins/icheck/icheck.min.js"></script>
      <script src="/static/lineme/js/analytics.js"></script>
      <script type="text/javascript">
        $(function () {
          $('input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
          });
        });
      </script>
    {% endcompress %}
  </body>
</html>
