{% extends "basic_gate.html" %}

{% block title %}登入{% endblock %}

{% block content %}
  <div class="login-box-body">
    <p class="login-box-msg">创建你自己的朋友网络</p>
    <form method="post">
      {% if status == -1 %}
        <div class="form-group has-error has-feedback">
        <label class="control-label"><i class="fa fa-times"></i> 无效的用户名 / 密码</label>
      {% else %}
        <div class="form-group has-feedback">
      {% endif %}
        <input name="username" type="text" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登入</button>
        </div>
      </div>
    </form>
    <a href="{% url 'forget' %}">忘记密码</a><br>
    <a href="{% url 'register' %}" class="text-center">注册新账号</a>
  </div>
{% endblock %}
