<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | 群</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">

    {% load compress %}
    {% compress css %}
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/plugins/icheck/flat/green.css">
      <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
      <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
      <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
      <link rel="stylesheet" href="/static/plugins/hint/css/hint.css">
      <link rel="stylesheet" href="/static/plugins/trip/css/trip.min.css">
      <style>
        blockquote {
          margin: 0 0 10px;
        }
      </style>
    {% endcompress %}
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <div class="modal fade" id="modal-join">
        <div class="modal-dialog">
          <form method="post" action="{% url 'join' group.id %}" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">秘钥错误</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-feedback">
                <label for="member-identifier">验证</label>
                {% if group.identifier == 0 %}
                  <input type="text" class="form-control" name="identifier" placeholder="重新输入验证秘钥">
                {% elif group.identifier == 1 %}
                  <input type="text" class="form-control" name="identifier" placeholder="重新输入邮箱">
                {% endif %}
                <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-flat">加入</button>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="modal-notin">
        <div class="modal-dialog">
          <form method="post" action="{% url 'joinRequest' group.id %}" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">注意</h4>
            </div>
            <div class="modal-body">
              <blockquote>
                <h4>你的名字不在成员列表中</h4>
                <h4>你可以向群主发送入群请求</h4>
              </blockquote>
            </div>
            <div class="modal-footer">
              <div class="form-group has-feedback pull-left" style="margin-bottom: 0">
                  <input type="text" class="form-control" name="message" placeholder="消息">
                <span class="glyphicon glyphicon-info-sign form-control-feedback"></span>
              </div>
              <button type="submit" class="btn btn-primary btn-flat">发送</button>
            </div>
          </form>
        </div>
      </div>

      <header class="main-header">
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>{{ project_name }}</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="{% if msgs_count > 0  %}你有 {{ msgs_count }} 条连边请求{% else %}无新消息{% endif %}">
                <a href="{% url 'home' %}">
                  <i class="fa fa-envelope-o"></i>
                  {% if msgs_count >= 99  %}
                    <span class="label label-danger">99</span>
                  {% elif msgs_count > 0 %}
                    <span class="label label-success">{{ msgs_count }}</span>
                  {% endif %}
                </a>
              </li>
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="帮助">
                <a id="help" href="#">
                  <i class="fa fa-question"></i>
                </a>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/media/images/avatars/{{ user.id }}.png" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{ user.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'ego' %}>我的网络</a></li>
                  <li><a href={% url 'global' %}>全局网络</a></li>
                  <li><a href={% url 'profile' %}>个人信息</a></li>
                  <li><a href={% url 'settings' %}>系统设置</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'logout' %}>登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <img onclick="window.location.href='{% url 'avatar' %}'" src="/media/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
          </div>
          <div id="search" class="input-group sidebar-form">
            <input type="text" name="q" class="form-control" placeholder="搜索群...">
            <span class="input-group-btn">
              <button class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <ul class="sidebar-menu">
            <li class="header">我的群</li>
            {% for k, v in sug.items %}
              <li>
                <a href="{% url 'group' k %}">
                  <i class="fa fa-circle-o text-yellow"></i>
                  <span>{{ v }}</span>
                </a>
              </li>
            {% endfor %}
            {% for group in groups %}
              <li>
                <a href="{% url 'group' group.id %}">
                  {% if group.creator == user %}
                    <i class="fa fa-circle-o text-aqua"></i>
                  {% else %}
                    <i class="fa fa-circle-o text-green"></i>
                  {% endif %}
                  <span>{{ group.group_name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            群信息: <span class="text-bold">{{ group.group_name }}</span>
{#            <small>Optional description</small>#}
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ project_name }}</a></li>
            <li class="active">群</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
{#            <div class="col-md-3 col-sm-12">#}
{#              <div class="box box-primary">#}
{#                <div class="box-body box-profile">#}
{#                  <img class="profile-user-img img-responsive img-circle" src="/media/images/avatars/{{ creator.id }}.png" alt="User profile picture">#}
{#                  <h3 class="profile-username text-center">{{ group.group_name }}</h3>#}
{#                  <p class="text-muted text-center">Created by {{ creator.username }}</p>#}
{#                  <ul class="list-group list-group-unbordered" style="padding-bottom: 50px">#}
{#                    <li class="list-group-item">#}
{#                      <b>Members</b> <a class="pull-right">{{ members_count }}</a>#}
{#                    </li>#}
{#                    <li class="list-group-item">#}
{#                      <b>Created Time</b> <a class="pull-right">{{ group.created_time }}</a>#}
{#                    </li>#}
{#                    <li class="list-group-item">#}
{#                      <b>Identifier</b>#}
{#                      <a class="pull-right">#}
{#                        {% if group.identifier == 0 %}#}
{#                          Special Code#}
{#                        {% elif group.identifier == 1 %}#}
{#                          Email#}
{#                        {% else %}#}
{#                          No Validation#}
{#                        {% endif %}#}
{#                      </a>#}
{#                    </li>#}
{#                  </ul>#}
{#                  {% if follow_status == 1 %}#}
{#                    <button class="btn btn-success btn-block" disabled><b>Already in Group</b></button>#}
{#                  {% elif follow_status == -1 %}#}
{#                    <button class="btn btn-warning btn-block" disabled><b>Request Already Sent</b></button>#}
{#                  {% elif follow_status < -1 %}#}
{#                    <button id="follow" class="btn btn-danger btn-block"><b>Follow Failed</b></button>#}
{#                  {% else %}#}
{#                    <button id="follow" class="btn btn-primary btn-block"><b>Follow</b></button>#}
{#                  {% endif %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
            <div class="col-md-3 col-sm-12">
              <div class="box box-widget widget-user">
                {% if follow_status == 1 %}
                  <div class="widget-user-header bg-olive text-center">
                {% elif follow_status == -1 %}
                  <div class="widget-user-header bg-yellow text-center">
                {% elif follow_status < -1 %}
                  <div class="widget-user-header bg-red text-center">
                {% else %}
                  <div class="widget-user-header bg-blue text-center">
                {% endif %}
                  <h3 class="widget-user-username"><strong>{{ group.group_name }}</strong></h3>
                  <h5 class="widget-user-desc">由 {{ creator.username }} 创建</h5>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle" src="/media/images/avatars/{{ creator.id }}.png"  alt="User Avatar">
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">
                          {% if group.identifier == 0 %}
                            秘钥
                          {% elif group.identifier == 1 %}
                            邮箱
                          {% else %}
                            无验证
                          {% endif %}
                        </h5>
                        <span class="description-text">验证</span>
                      </div>
                    </div>
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">{{ members_count }}</h5>
                        <span class="description-text">成员</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header">{{ group.created_time|date:'Y m d' }}</h5>
                        <span class="description-text">创建时间</span>
                      </div>
                    </div>
                  </div>
                  {% if follow_status == 1 %}
                    <button class="btn btn-lg btn-success btn-block btn-flat" disabled><b>已加入</b></button>
                  {% elif follow_status == -1 %}
                    <button class="btn btn-lg btn-warning btn-block btn-flat" disabled><b>请求已发送</b></button>
                  {% elif follow_status < -1 %}
                    <button id="follow" class="btn btn-lg btn-danger btn-block btn-flat"><b>验证失败</b></button>
                  {% else %}
                    <button id="follow" class="btn btn-lg btn-block bg-orange btn-flat">加入</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a href="http://seeleit.com" target="_black">POWERED BY HT</a>
        </div>
        <strong>Copyright &copy; 2016 <a href="http://cnc.sjtu.edu.cn" target="_black">CNC</a>.</strong> All rights reserved.
      </footer>
    </div>

    <script type="text/javascript">
      var groupid = {{ group.id }};
      var identifier = {{ group.identifier }};
      var joinUrl = "{% url 'join' group.id %}";
      var egoUrl = "{% url 'egoId' group.id %}";
    </script>

    {% compress js %}
      <script src="/static/plugins/jquery/jquery.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/dist/js/app.min.js"></script>
      <script src="/static/plugins/icheck/icheck.min.js"></script>
      <script src="/static/plugins/rollbar/js/jquery.rollbar.min.js"></script>
      <script src="/static/lineme/js/rollbar.js"></script>
      <script src="/static/lineme/js/autocomplete.js"></script>
      <script src="/static/lineme/js/analytics.js"></script>
      <script src="/static/plugins/trip/js/trip.js"></script>
      <script src="/static/lineme/js/zh_cn/trip/trip-none.js"></script>
      <script type="text/javascript">
        $('#search').autocomplete();
      </script>
      <script src="/static/lineme/js/zh_cn/group2.js"></script>
    {% endcompress %}
  </body>
</html>
