<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | Global Network</title>
{#    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">#}
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/static/lineme/css/graph.css">
    <link rel="stylesheet" href="/static/lineme/css/global.css">
    <link rel="stylesheet" href="/static/lineme/css/animations.css">
    <link rel="stylesheet" href="/static/plugins/d3/css/d3-tip.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <link rel="stylesheet" href="/static/plugins/hint/css/hint.css">
    <link rel="stylesheet" href="/static/plugins/trip/css/trip.min.css">
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>{{ project_name }}</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="My Net">
                {% if group %}
                  <a href="{% url 'egoId' group.id %}">
                {% else %}
                  <a href="{% url 'ego'%}">
                {% endif %}
                  <i class="fa fa-dot-circle-o"></i>
                </a>
              </li>
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="{% if msgs_count > 0  %}You have {{ msgs_count }} requests{% else %}No request{% endif %}">
                <a href="{% url 'home' %}">
                  <i class="fa fa-envelope-o"></i>
                  {% if msgs_count >= 99  %}
                    <span class="label label-danger">99</span>
                  {% elif msgs_count > 0 %}
                    <span class="label label-success">{{ msgs_count }}</span>
                  {% endif %}
                </a>
              </li>
              <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="Help">
                <a id="help" href="#">
                  <i class="fa fa-question"></i>
                </a>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/static/images/avatars/{{ user.id }}.png" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{ user.username }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'ego' %}>My Network</a></li>
                  <li><a href={% url 'global' %}>Global Network</a></li>
                  <li><a href={% url 'profile' %}>My Profile</a></li>
                  <li><a href={% url 'settings' %}>Settings</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'logout' %}>Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <img onclick="window.location.href='{% url 'avatar' %}'" src="/static/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <div id="search" class="input-group sidebar-form">
            <input type="text" name="q" class="form-control" placeholder="Group Search...">
            <span class="input-group-btn">
              <button class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
          <ul class="sidebar-menu">
            <li class="header">My Groups</li>
            {% for group in rcmd_groups %}
              <li>
                <a href="{% url 'group' group.id %}">
                  <i class="fa fa-circle-o text-yellow"></i>
                  <span>{{ group.group_name }}</span>
                </a>
              </li>
            {% endfor %}
            {% for group in groups %}
              <li>
                <a href="{% url 'globalId' group.id %}">
                  {% if group.creator == user %}
                    <i class="fa fa-circle-o text-aqua"></i>
                  {% else %}
                    <i class="fa fa-circle-o text-green"></i>
                  {% endif %}
                  <span>{{ group.group_name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Global Network{% if group %}: <span class="text-bold">{{ group.group_name }}</span>{% endif %}
            <small>view your entire global networks here</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ project_name }}</a></li>
            <li class="active">Global Network</li>
          </ol>
        </section>
        <section class="content">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="box box-success">
                <div id="main-panel" class="bg-gray-light cl-effect">
                  {% if not group %}
                    <h1 class="panel-text-center text-navy text-bold">
                      <span class="fa fa-arrow-left"></span>
                      &nbsp;&nbsp;&nbsp;Click Left to Select Group
                    </h1>
                  {% endif %}
                  {% if group %}
                    <a id="map-mode" class="map text-center" hidden>MAP MODE</a>
                    <a id="normal-mode" class="normal text-center">NORMAL MODE</a>
                    <div id="network"></div>
                    <div id="map"></div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12" id="info-panel">
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Information</h3>
                </div>
                <div class="box-body box-global-info-body">
                  {% if group %}
                    <div id="info-degree"></div>
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th class="col-md-6">Centrality Rank</th>
                          <th class="col-md-6">Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for top, d in top3 %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ top.member_name }}</a></td>
                          </tr>
                        {% endfor %}
                        <tr>
                          <td>{{ my_rank }}</td>
                          <td>Me</td>
                        </tr>
                      </tbody>
                    </table>
                    </br>
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Average Degree</th>
                          <td>{{ average_degree|floatformat:"2" }}</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% if average_distance == -1 %}
                            <th>Network Not Connected</th>
                          {% else %}
                            <th>Average Distance</th>
                            <td>{{ average_distance|floatformat:"2" }}</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>
                    </br>
                    <blockquote>
                      <ul>
                        <li>Your links cover {{ cover }}% of the global network</li>
                        </br>
                        {% if bestfriend.member_name != None %}
                          <li>Your best friend is <a href="#">{{ bestfriend.member_name }}</a>, {{ bf_ratio }}% of the members have lined you two.</li>
                          </br>
                        {% endif %}
                        {% if heart.member_name != None %}
                          <li><a href="#">{{ heart.member_name }}</a> is the member who knows you best.</li>
                        {% endif %}
                      </ul>
                    </blockquote>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <a href="http://seeleit.com" target="_black">POWERED BY HT</a>
        </div>
        <strong>Copyright &copy; 2016 <a href="http://cnc.sjtu.edu.cn" target="_black">CNC</a>.</strong> All rights reserved.
      </footer>
    </div>

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/app.min.js"></script>
    <script src="/static/plugins/d3/js/d3.js"></script>
    <script src="/static/plugins/d3/js/d3-tip.js"></script>
    <script src="/static/plugins/echart/js/echarts.min.js"></script>
    <script src="/static/plugins/echart/js/roma.js"></script>
    <script src="/static/plugins/echart/js/china.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.easing.1.3.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.mousewheel.js"></script>
    <script src="/static/plugins/rollbar/js/jquery.rollbar.min.js"></script>
    <script src="/static/lineme/js/rollbar.js"></script>
    <script src="/static/lineme/js/autocomplete.js"></script>
    <script src="/static/plugins/trip/js/trip.js"></script>
    <script type="text/javascript">
      $('#search').autocomplete({
        type: 'global'
      });
    </script>
    {% if group %}
      <script src="/static/lineme/js/trip/trip-global.js"></script>
      <script type="text/javascript">
        var groupid = {{ group.id }};
        var disData = {{ distribution|safe }};

        var gGraphUrl = "{% url 'gGraph' group.id %}";
        var gMapUrl = "{% url 'gMap' group.id %}";
      </script>
      <script src="/static/lineme/js/global.js"></script>
    {% else %}
      <script src="/static/lineme/js/trip/trip-none.js"></script>
    {% endif %}
  </body>
</html>
