<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ project_name }} | Global Network</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/static/lineme/css/graph.css">
    <link rel="stylesheet" href="/static/lineme/css/global.css">
    <link rel="stylesheet" href="/static/d3/css/d3-tip.css">
  </head>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>{{ project_name }}</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  {% if msgs_count >= 99  %}
                    <span class="label label-danger">99</span>
                  {% else %}
                    <span class="label label-success">{{ msgs_count }}</span>
                  {% endif %}
                </a>
                <ul class="dropdown-menu">

                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="{% url 'home' %}">
                          <i class="fa fa-users text-aqua"></i> You have {{ msgs_count }} messages
                        </a>
                      </li>

                    </ul>
                  </li>

                </ul>

              </li>

              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/images/user_avatars/{{ user.id }}.png" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{ user.username }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href={% url 'ego' %}>My Network</a></li>
                  <li><a href={% url 'global' %}>Global Network</a></li>
                  <li><a href={% url 'profile' %}>My Profile</a></li>
                  <li><a href={% url 'settings' %}>Settings</a></li>
                  <li class="divider"></li>
                  <li><a href={% url 'logout' %}>Sign Out</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img onclick="window.location.href='{% url 'avatar' %}'" src="/static/images/user_avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->


          <ul class="sidebar-menu" style="margin-left: 0px">
            <li class="header">My Groups</li>
            {% for group in rcmd_groups %}
              <li>
                <a href="{% url 'group' group.id %}">
                  <i class="fa fa-circle-o text-yellow"></i>
                  <span>{{ group.group_name }}</span>

                </a>
              </li>
            {% endfor %}
            {% for group in groups %}
              <li>
                <a href="{% url 'globalId' group.id %}">
                  {% if group.creator == user %}

                    <i class="fa fa-circle-o text-aqua"></i>
                  {% else %}
                    <i class="fa fa-circle-o text-green"></i>
                  {% endif %}

                  <span>{{ group.group_name }}</span>

                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {% if group %}
            <h1>
              Group: {{ group.group_name }}
              <small>view your entire global networks here</small>
            </h1>
          {% else %}
            <h1>
              Global Network
              <small>view your entire global networks here</small>
            </h1>
          {% endif %}
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>{{ project_name }}</a></li>
            <li class="active">Global Network</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="box box-success">

                  <div id="main-panel" class="bg-gray-light cl-effect" style="height: 750px;">
                    {% if group %}
                      <a id="map-mode" class="map text-center" style="width: 200px;z-index: 100;position: absolute;bottom: 0px;margin:75px" hidden>MAP MODE</a>
                      <a id="normal-mode" class="normal text-center" style="width: 200px;z-index: 100;position: absolute;bottom: 0px;margin:75px">NORMAL MODE</a>
                      <div id="network" style="position: absolute;z-index: 1;"></div>
                      <div id="map" style="position: absolute;z-index: 1;" hidden></div>
                    {% endif %}
                  </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12" id="info-panel">
              <div class="box box-warning">
                <div class="box-header with-border">

                  <h3 class="box-title">Information</h3>
                </div><!-- /.box-header -->
                <div class="box-body" style="height: 680px;overflow: scroll;font-size: 16px">
                  {% if group %}
                    <div id="info-degree" style="height: 350px"></div>

                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th class="col-md-6">Centrality Rank</th>
                          <th class="col-md-6">Name</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for top, d in top3 %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ top.member_name }}</a></td>
                          </tr>

                        {% endfor %}

                        <tr>
                          <td>{{ my_rank }}</td>
                          <td>Me</td>
                        </tr>
                      </tbody>
                    </table>
                    </br>
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Average Degree</th>
                          <td>{{ average_degree|floatformat:"2" }}</td>
                        </tr>

                      </thead>
                      <tbody>
                        <tr>
                          <th>Average Distance</th>
                          <td>{{ average_distance|floatformat:"2" }}</td>
                        </tr>

                      </tbody>
                    </table>
                    </br>
                    <blockquote>
                      <ul>
                        <li>Your links cover {{ cover|floatformat:"2" }} of the global network</li>
                        </br>
                        {% if bestfriend.member_name != None %}
                          <li>Your best friend is <a href="#">{{ bestfriend.member_name }}</a>, {{ bf_ratio|floatformat:"2" }} of the members have lined you two.</li>
                          </br>
                        {% endif %}
                        {% if heart.member_name != None %}
                          <li><a href="#">{{ heart.member_name }}</a> is the member who knows you best.</li>
                        {% endif %}
                      </ul>
                    </blockquote>

                  {% endif %}
                </div>

            </div>
          </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
          <!-- To the right -->
          <div class="pull-right hidden-xs">
              POWERED BY HT
          </div>
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016 <a href="http://cnc.sjtu.edu.cn" target="_black">CNC</a>.</strong> All rights reserved.
      </footer>

      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/dist/js/app.min.js"></script>
    <script src="/static/d3/js/d3.js"></script>
    <script src="/static/d3/js/d3-tip.js"></script>
    <script src="/static/echart/js/echarts.min.js"></script>
    <script src="/static/echart/js/roma.js"></script>
    <script src="/static/echart/js/china.js"></script>
    {% if group %}
      <script type="text/javascript">
        var groupid = {{ group.id }};
        var disData = {{ distribution|safe }};

      </script>
      <script src="/static/lineme/js/global.js"></script>
    {% endif %}

  </body>
</html>
