<div class="box-body">
  <div class="table-responsive">
    <table class="table no-margin">
      <thead>
      <tr>
        <th>Group</th>
        <th>From</th>
        <th>To</th>
        <th>Created Time</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for inv in invs %}
        <tr>
          <td>{{ inv.group.group_name }}</td>
          {% if inv.source_member in my_members %}
            <td>Me</td>
          {% else %}
            <td><a href="#">{{ inv.source_member.member_name }}</a></td>
          {% endif %}
          {% if inv.target_member in my_members %}
            <td>Me</td>
          {% else %}
            <td><a href="#">{{ inv.target_member.member_name }}</a></td>
          {% endif %}
          <td>{{ inv.created_time|date:'M d, Y' }}</td>
          {% if inv.status == -3 %}
            <td><span class="label label-danger"><span class="fa fa-close"></span></span></td>
          {% elif inv.status == 3 %}
            <td><span class="label label-success"><span class="fa fa-check-square"></span></span></td>
          {% elif inv.status > 0 %}
            <td><span class="label label-primary"><span class="fa fa-circle"></span></span></td>
          {% elif inv.status < 0 %}
            <td><span class="label label-danger"><span class="fa fa-circle"></span></span></td>
          {% elif inv.status == 0 %}
            <td><span class="label label-warning"><span class="fa fa-circle"></span></span></td>
          {% endif %} 
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="box-footer clearfix no-border">
  <div class="box-tools pull-left">
    <ul class="pagination pagination-sm inline">
      {% if invs.has_previous %}
        <li><a onclick="updateInvPanel({{ invs.previous_page_number }}, $('#search-group').val())">«</a></li>
      {% else %}
        <li class="disabled"><a href="#">«</a></li>
      {% endif %}
      <li><a>{{ invs.number }}/{{ invs.paginator.num_pages }}</a></li>
      {% if invs.has_next %}
        <li><a onclick="updateInvPanel({{ invs.next_page_number }}, $('#search-group').val())">»</a></li>
      {% else %}
        <li class="disabled"><a href="#">»</a></li>
      {% endif %}
    </ul>
  </div>
  <a href="#" class="btn btn-sm btn-default btn-flat pull-right">Send Emails</a>
</div>