<div class="box-body">
  <ul class="todo-list ui-sortable">
    {% for msg in msgs %}
      <li id="msg-{{ msg.id }}">
        <input type="checkbox" value="{{ msg.id }}" name="">
          <span class="text">
            {% load filters %}
            <a href="#">{{ msg_creators|get_value:msg }}</a>
            invites you to confirm the friend link to
            {% if msg.source_member in my_members %}
              <a href="#">{{ msg.target_member.member_name }}</a>
            {% else %}
              <a href="#">{{ msg.source_member.member_name }}</a>
            {% endif %}
            in <a href="{% url 'group' msg.group.id %}">{{ msg.group.group_name }}</a>
          </span>
        {% if msg.status <= 0 %}
          <small class="label label-warning">Both Unconfirmed</small>
        {% else %}
          <small class="label label-primary">Other Side Confirmed</small>
        {% endif %}
        {# Todo: count > 3 #}
        {% with source_count=msg_index|get_value:msg.source_member target_count=msg_index|get_value:msg.target_member %}
          <div class="tools">
            <i class="fa fa-check-circle-o fa-lg" onclick=
              {% if source_count != None and source_count > 3 %}
                "msgAggregateConfirmed('{% url 'msgHandle' 3 msg.id %}', 3, '{{ msg.source_member.member_name }} in {{ msg.group.group_name }}', {{ source_count }})">
              {% elif target_count != None and target_count > 3 %}
                "msgAggregateConfirmed('{% url 'msgHandle' 3 msg.id %}', 3, '{{ msg.target_member.member_name }} in {{ msg.group.group_name }}', {{ target_count }})">
              {% else %}
                "msgConfirmed('{% url 'msgHandle' 1 msg.id %}', 1, {{ msg.id }}, false)">
              {% endif %}
            </i>
            <i class="fa fa-ban fa-lg" onclick=
              {% if source_count != None and source_count > 3 %}
                "msgAggregateConfirmed('{% url 'msgHandle' 2 msg.id %}', 2, '{{ msg.source_member.member_name }} in {{ msg.group.group_name }}', {{ source_count }})">
              {% elif target_count != None and target_count > 3 %}
                "msgAggregateConfirmed('{% url 'msgHandle' 2 msg.id %}', 2, '{{ msg.target_member.member_name }} in {{ msg.group.group_name }}', {{ target_count }})">
              {% else %}
                "msgConfirmed('{% url 'msgHandle' 0 msg.id %}', 0, {{ msg.id }}, false)">
              {% endif %}
            </i>
          </div>
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
</div>
<div class="box-footer clearfix no-border">
  <div class="box-tools pull-left">
    <ul class="pagination pagination-sm inline">
      {% if msgs.has_previous %}
        <li><a onclick="updateMsgPanel({{ msgs.previous_page_number }})">«</a></li>
      {% else %}
        <li class="disabled"><a href="#">«</a></li>
      {% endif %}
      <li><a>{{ msgs.number }}/{{ msgs.paginator.num_pages }}</a></li>
      {% if msgs.has_next %}
        <li><a onclick="updateMsgPanel({{ msgs.next_page_number }})">»</a></li>
      {% else %}
        <li class="disabled"><a href="#">»</a></li>
      {% endif %}
    </ul>
  </div>
  <a id="confirm" href="#" class="btn btn-sm btn-default btn-flat pull-right">Confirm Choosed</a>
</div>