{% extends "basic_gate.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <form method="post">
      {% if status == -4 %}
        <p class="text-center bg-red">Register Failed </p>
      {% endif %}
      {% if status == -1 %}
        <div class="form-group has-error has-feedback">
        <label class="control-label"><i class="fa fa-times"></i> Invalid Username</label>
        <input name="username" type="text" class="form-control" placeholder="Longer than 6, letters and nums">
      {% else %}
        <div class="form-group has-feedback">
        <input name="username" type="text" class="form-control" placeholder="Username">
      {% endif %}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      {% if status == -2 %}
        <div class="form-group has-error has-feedback">
        <label class="control-label"><i class="fa fa-times"></i> Invalid Email Address</label>
      {% else %}
        <div class="form-group has-feedback">
      {% endif %}
        <input name="email" type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      {% if status == -3 %}
        <div class="form-group has-error has-feedback">
        <label class="control-label"><i class="fa fa-times"></i> Invalid Password</label>
        <input name="password" type="password" class="form-control" placeholder="Longer than 6, letters and nums">
      {% else %}
        <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="Password">
      {% endif %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password2" type="password" class="form-control" placeholder="Re-enter password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
           <a href="{% url 'login' %}" class="text-center">I already have an account</a>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="this.form.submit(); this.disabled=true;">Register</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
