{% extends "us_en/basic_main.html" %}

{% block title %}My Network{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/lineme/css/graph.css">
  <link rel="stylesheet" href="/static/lineme/css/ego.css">
  <link rel="stylesheet" href="/static/lineme/css/loading.css">
  <link rel="stylesheet" href="/static/lineme/css/borderMenu.css">
  <link rel="stylesheet" href="/static/plugins/d3/css/d3-tip.css">
{% endblock %}

{% block modal %}
  <div class="modal fade" id="modal-success">
    <div class="modal-dialog">
      <div class="modal-content modal-transparent">
        <div class="loader-inner line-scale line-white text-center">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="modal-hidden" hidden>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Attention</h4>
          </div>
          <div class="modal-body">
            <h4>Update Links Successfully</h4>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-flat" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block nav_changer %}
  <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="Global Net">
    {% if group %}
      <a href="{% url 'globalId' group.id %}">
    {% else %}
      <a href="{% url 'global'%}">
    {% endif %}
      <i class="fa fa-globe"></i>
    </a>
  </li>
{% endblock %}

{% block sidebar %}
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img onclick="window.location.href='{% url 'avatar' %}'" src="/media/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
        </div>
        <div class="pull-left info">
          <p>{{ user.username }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <div id="search" class="input-group sidebar-form">
        <input type="text" name="q" class="form-control" placeholder="{% if group %}Member Search...{% else %}Group Search...{% endif %}">
        <span class="input-group-btn">
          <button class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <ul class="sidebar-menu">
        <li class="header">My Groups</li>
        {% for group in groups %}
          <li>
            <a href="{% url 'egoId' group.id %}">
              {% if group.creator == user %}
                <i class="fa fa-circle-o text-aqua"></i>
              {% else %}
                <i class="fa fa-circle-o text-green"></i>
              {% endif %}
              <span>{{ group.group_name }}</span>
            </a>
          </li>
        {% endfor %}
  {#            {% for group in rcmd_groups %}#}
  {#              <li>#}
  {#                <a href="{% url 'group' group.id %}">#}
  {#                  <i class="fa fa-circle-o text-yellow"></i>#}
  {#                  <span>{{ group.group_name }}</span>#}
  {#                </a>#}
  {#              </li>#}
  {#            {% endfor %}#}
      </ul>
    </section>
  </aside>
{% endblock %}

{% block content_header %}
  My Network{% if group %}: <span class="text-bold">{{ group.group_name }}</span>{% endif %}
  <small>map your friend network</small>
{% endblock %}
{% block content_header2 %}My Network{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="box box-primary">
        <div id="main-panel" class="bg-gray-light">
          <div id="network"></div>
          {% if not group %}
            <h1 class="panel-text-center text-navy text-bold">
              <span class="fa fa-arrow-left"></span>
              &nbsp;&nbsp;&nbsp;Click Left to Select Group
            </h1>
          {% else %}
            <div id="bt-menu" class="bt-menu">
              <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
              <ul>
                <li><a id="lineme">LineMe</a></li>
                <li><a id="clear">Clear</a></li>
                <li><a id="submit">Save</a></li>
                <li><a id="reset">Reset</a></li>
                <li><a id="info">Info</a></li>
                <li><a id="howto">Help</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12" id="rcmd-panel">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Recommendations</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block infile_js %}
  {% if group %}
    <script type="text/javascript">
      var groupid = {{ group.id }};
      var rcmdUrl = "{% url 'rcmd' group.id %}";
      var eGraphUrl = "{% url 'eGraph' group.id %}";
      var updateGraphUrl = "{% url 'updateGraph' group.id %}";
    </script>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="/static/plugins/d3/js/d3.js"></script>
  <script src="/static/plugins/d3/js/d3-tip.js"></script>
  {% if group %}
    <script src="/static/lineme/js/classie.js"></script>
    <script src="/static/lineme/js/borderMenu.js"></script>
    <script src="/static/lineme/js/us_en/trip/trip-ego.js"></script>
    <script src="/static/lineme/js/us_en/ego.js"></script>
  {% else %}
    <script src="/static/lineme/js/us_en/trip/trip-none.js"></script>
    <script type="text/javascript">
      $('#search').autocomplete({
        type: 'ego'
      });
    </script>
  {% endif %}
{% endblock %}