{% extends "us_en/basic_main.html" %}

{% block title %}Global Network{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/plugins/three/css/style.css">
  <link rel="stylesheet" href="/static/lineme/css/graph.css">
  <link rel="stylesheet" href="/static/lineme/css/global.css">
  <link rel="stylesheet" href="/static/lineme/css/loading.css">
  <link rel="stylesheet" href="/static/lineme/css/animations.css">
  <link rel="stylesheet" href="/static/plugins/d3/css/d3-tip.css">
{% endblock %}

{% block nav_changer %}
  <li class="notifications-menu hint--bottom hint--rounded hint--bounce" aria-label="My Net">
    {% if group %}
      <a href="{% url 'egoId' group.id %}">
    {% else %}
      <a href="{% url 'ego'%}">
    {% endif %}
      <i class="fa fa-dot-circle-o"></i>
    </a>
  </li>
{% endblock %}

{% block sidebar %}
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img onclick="window.location.href='{% url 'avatar' %}'" src="/media/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
        </div>
        <div class="pull-left info">
          <p>{{ user.username }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <div id="search" class="input-group sidebar-form">
        <input type="text" name="q" class="form-control" placeholder="Group Search...">
        <span class="input-group-btn">
          <button class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <ul class="sidebar-menu">
        <li class="header">My Groups</li>
        {% for group in groups %}
          <li>
            <a href="{% url 'globalId' group.id %}">
              {% if group.creator == user %}
                <i class="fa fa-circle-o text-aqua"></i>
              {% else %}
                <i class="fa fa-circle-o text-green"></i>
              {% endif %}
              <span>{{ group.group_name }}</span>
            </a>
          </li>
        {% endfor %}
{#            {% for group in rcmd_groups %}#}
{#              <li>#}
{#                <a href="{% url 'group' group.id %}">#}
{#                  <i class="fa fa-circle-o text-yellow"></i>#}
{#                  <span>{{ group.group_name }}</span>#}
{#                </a>#}
{#              </li>#}
{#            {% endfor %}#}
      </ul>
    </section>
  </aside>
{% endblock %}

{% block content_header %}
  Global Network{% if group %}: <span class="text-bold">{{ group.group_name }}</span>{% endif %}
  <small>view your entire global networks here</small>
{% endblock %}
{% block content_header2 %}Global Network{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="box box-success">
        <div id="main-panel" class="bg-gray-light cl-effect">
          {% if not group %}
            <h1 class="panel-text-center text-navy text-bold">
              <span class="fa fa-arrow-left"></span>
              &nbsp;&nbsp;&nbsp;Click Left to Select Group
            </h1>
          {% else %}
            <a id="three-mode" class="three text-center" hidden>3D MODE</a>
            <a id="map-mode" class="map text-center" hidden>MAP MODE</a>
            <a id="normal-mode" class="normal text-center">NORMAL MODE</a>
            <div class="loader-inner line-scale panel-text-center">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div id="network"></div>
            <div id="map">
              <div class="loader-inner line-scale panel-text-center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div id="three">
              <div class="loader-inner line-scale panel-text-center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12" id="info-panel">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Information</h3>
        </div>
        <div class="box-body box-global-info-body">
          {% if group %}
            <div id="info-degree"></div>
            <table class="table no-margin">
              <thead>
                <tr>
                  <th class="col-md-6">Centrality Rank</th>
                  <th class="col-md-6">Name</th>
                </tr>
              </thead>
              <tbody>
                {% for top in top3 %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="#">{{ top.member_name }}</a></td>
                  </tr>
                {% endfor %}
                <tr>
                  <td>{{ my_rank }}</td>
                  <td>Me</td>
                </tr>
              </tbody>
            </table>
            </br>
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Average Degree</th>
                  <td>{{ average_degree|floatformat:"2" }}</td>
                </tr>
              </thead>
              <thead>
                <tr>
                  {% if average_distance == -1 %}
                    <th>Network Not Connected</th>
                    <td></td>
                  {% else %}
                    <th>Average Distance</th>
                    <td>{{ average_distance|floatformat:"2" }}</td>
                  {% endif %}
                </tr>
              </thead>
            </table>
            </br>
            <blockquote>
              <ul>
                <li>Your links cover {{ cover }}% of the global network</li>
                </br>
                {% if bestfriend %}
                  <li>Your best friend is <a href="#">{{ bestfriend.member_name }}</a>, {{ bf_count }} members have lined you two</li>
                  </br>
                {% endif %}
                {% if heart %}
                  <li><a href="#">{{ heart.member_name }}</a> is the member who knows you best</li>
                {% endif %}
                {% if similar %}
                  <li><a href="#">{{ similar.member_name }}</a> is similar to you</li>
                {% endif %}
              </ul>
            </blockquote>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block infile_js %}
  {% if group %}
    <script type="text/javascript">
      var groupid = {{ group.id }};
      var disData = {{ distribution|safe }};

      var gGraphUrl = "{% url 'gGraph' group.id %}";
      var gMapUrl = "{% url 'gMap' group.id %}";
      var gThreeUrl = "{% url 'gThree' group.id %}";
    </script>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('#search').autocomplete({
      type: 'global'
    });
  </script>
  {% if group %}
    <script src="/static/plugins/d3/js/d3.js"></script>
    <script src="/static/plugins/d3/js/d3-tip.js"></script>
    <script src="/static/plugins/echart/js/echarts.min.js"></script>
    <script src="/static/plugins/echart/js/roma.js"></script>
    <script src="/static/plugins/echart/js/china.js"></script>
    <script src="/static/plugins/three/js/three.min.js"></script>
    <script src="/static/plugins/three/js/tween.js"></script>
    <script src="/static/plugins/three/js/css3drenderer.js"></script>
    <script src="/static/plugins/three/js/viz.js"></script>
    <script src="/static/lineme/js/us_en/trip/trip-global.js"></script>
    <script src="/static/lineme/js/us_en/global.js"></script>
  {% else %}
    <script src="/static/lineme/js/us_en/trip/trip-none.js"></script>
  {% endif %}
{% endblock %}