{% extends "us_en/basic_main.html" %}

{% block title %}Profile{% endblock %}

{% block meta %}
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/plugins/icheck/flat/blue.css">
  <link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
  <style>
    .pull-left {
      margin-top: 3px;
    }

    .content-wrapper {
      margin-left: 0;
    }

    .main-footer {
      margin-left: 0;
    }
  </style>
{% endblock %}

{% block content_header %}{% endblock %}
{% block content_header2 %}Profile{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
      <div class="box-body">
        <div class="box box-widget widget-user-2">
          <div class="widget-user-header bg-purple">
            <div class="widget-user-image">
              <img onclick="window.location.href='{% url 'avatar' %}'" class="img-circle" src="/media/images/avatars/{{ user.id }}.png" alt="User Avatar">
            </div>
            <h3 class="widget-user-username"><strong>{{ username }}</strong></h3>
            <h5 class="widget-user-desc">{{ user.email }}</h5>
          </div>
          <form method="post" action="{% url 'profile' %}">
            <div class="box-body">
              <div class="form-group has-feedback">
                <label>First Name</label>
                <input name="firstname" type="text" class="form-control" value="{{ user.first_name }}">
              </div>
              <div class="form-group has-feedback">
                <label>Last Name</label>
                <input name="lastname" type="text" class="form-control" value="{{ user.last_name }}">
              </div>
              <div class="form-group">
                <label>Birth</label>
                <input type="text" id="birth" name="birth" class="form-control" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" value="{{ user.extra.birth |date:'Y/m/d' }}">
              </div>
              {% load filters %}
              <div class="form-group" id="country-form">
                <label>Country</label>
                <input type="text" class="form-control form-dummy" placeholder="Country">
                <select name="country" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  {% for c in cities_table.keys|sort_list %}
                    {% if c == country %}
                      <option selected="selected" value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                    {% elif country == "" and c == "China" %}
                      <option selected="selected" value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                    {% else %}
                      <option value="{{ c.split|join:'-'|safe }}">{{ c|safe }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group" id="city-form">
                {% load filters %}
                <label>Hometown</label>
                <input type="text" class="form-control form-dummy" placeholder="Hometown">
                {% for country in cities_table.keys %}
                  <select name="city" id="{{ country.split|join:'-'|safe }}" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" disabled>
                    {% for c in cities_table|get_value_dict_keys:country|sort_list %}
                      {% if c == city %}
                        <option selected="selected">{{ c }}</option>
                      {% else %}
                        <option>{{ c }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                {% endfor %}
              </div>
              <div class="form-group has-feedback">
                <label>Institution</label>
                <input name="institution" type="text" class="form-control" {% if user.extra.institution %}value="{{ user.extra.institution }}"{% endif %}>
              </div>
              <div class="form-group">
                <label>Gender</label>
                <div class="input-group">
                  <label style="padding-right: 15px">
                    <input type="radio" name="gender" class="minimal" value="0" {% if user.extra.gender == 0 %}checked{% endif %}>
                    Male
                  </label>
                  <label>
                    <input type="radio" name="gender" class="minimal" value="1" {% if user.extra.gender == 1 %}checked{% endif %}>
                    Female
                  </label>
                </div>
              </div>
            </div>
          </form>
          <div class="box-footer no-padding">
            <div class="row">
              <div class="col-xs-12">
                  <button id="submit" class="btn btn-lg btn-block btn-flat bg-olive">
                    {% if first_login %}
                      Continue
                    {% else %}
                      Save
                    {% endif %}
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block infile_js %}
  <script type="text/javascript">
    var country = "{{ country }}".replace(' ', '-'), city = "{{ city }}";
  </script>
{% endblock %}

{% block extra_js %}
  <script src="/static/plugins/icheck/icheck.min.js"></script>
  <script src="/static/plugins/select2/select2.full.min.js"></script>
  <script src="/static/plugins/inputmask/jquery.inputmask.bundle.min.js"></script>

  <script src="/static/lineme/js/us_en/trip/trip-none.js"></script>
  <script type="text/javascript">

    $("#birth").inputmask();

    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_flat-blue'
    });

    $('#submit').click(function() {
      $.post('{% url 'profile' %}', $("form").serialize(), function(data) {
         if(data == -1) alert("There're some mistakes / missings in your submission");
         else window.location.href="{% url 'home' %}";
      });
    });

    var $cityFrom = $("#city-form");

    $("#country-form").children("select").select2({
      minimumResultsForSearch: 5
    }).on("change", function(e) {
       $cityFrom.children("span").hide();
       $("#" + country).attr("disabled", true);
       country = $(this).select2("val");
       $("#" + country).attr("disabled",false).next("span").show();
    });

    $cityFrom.children(".select2").select2({
      minimumResultsForSearch: 5
    });

    $cityFrom.children("span").hide();
    if(country == "") {
      $("#China").attr("disabled",false).next("span").show();
    }
    else {
      $("#"+ country).attr("disabled",false).next("span").show();
    }

    $('.form-dummy').hide();

  </script>
{% endblock %}