<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LineMe | 404</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/plugins/icheck/all.css">
    <link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/static/plugins/rollbar/css/jquery.rollbar.css">
    <style>

      .content-wrapper {
        margin-left: 0;
      }

      .main-footer {
        margin-left: 0;
      }

    </style>
  </head>
  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="{% url 'home' %}" class="logo">
          <span class="logo-lg"><b>LineMe</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation"></nav>
      </header>
      <div class="content-wrapper">

        <section class="content">
          <div class="row">
            <div class="error-page">
              <h2 class="headline text-yellow text-bold"> 404</h2>
              <div class="error-content">
{#                <i class="fa fa-warning text-yellow"></i>#}
                <h1> Page not found</h1>
                <p>
                  We could not find the page on this server</br>
                  You can <a href="{% url 'home' %}">return to home</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/app.min.js"></script>
  </body>
</html>
