{% extends "zh_cn/basic_main.html" %}

{% block title %}问卷{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/plugins/icheck/flat/green.css">
  <style>
    textarea {
      resize:none;
    }

    .add-item {
      cursor: pointer;
    }

  </style>
{% endblock %}

{% block modal %}
{% endblock %}

{% block sidebar %}
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img onclick="window.location.href='{% url 'avatar' %}'" src="/media/images/avatars/{{ user.id }}.png" class="img-circle" alt="User Image" style="cursor:pointer">
        </div>
        <div class="pull-left info">
          <p>{{ user.username }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>
      <div id="search" class="input-group sidebar-form">
        <input type="text" name="q" class="form-control" placeholder="搜索群...">
        <span class="input-group-btn">
          <button class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <ul class="sidebar-menu">
        <li class="header">我的群</li>
        {% for k, v in sug.items %}
          <li>
            <a href="{% url 'group' k %}">
              <i class="fa fa-circle-o text-yellow"></i>
              <span>{{ v }}</span>
            </a>
          </li>
        {% endfor %}
        {% for group in groups %}
          <li>
            <a href="{% url 'group' group.id %}">
              {% if group.creator == user %}
                <i class="fa fa-circle-o text-aqua"></i>
              {% else %}
                <i class="fa fa-circle-o text-green"></i>
              {% endif %}
              <span>{{ group.group_name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </aside>
{% endblock %}

{% block content_header %}
  设计问卷: <span class="text-bold">{{ group.group_name }}</span>
{% endblock %}
{% block content_header2 %}问卷{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">问卷模板</h3>
        </div>
        <div class="box-body box-profile" id="template">
          <div class="row">
            <div class="col-md-5 border-right">
              <div class="form-group has-feedback">
                <label>普通输入框</label>
                <input type="text" class="form-control" name="" placeholder="">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>标题</label>
                <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
              </div>
              <div class="form-group">
                <label>提示文字</label>
                <input type="text" class="form-control" name="hint" placeholder="" oninput="hintInputListener(this)">
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="box-footer text-center clearfix">
          <button type="button" class="btn bg-green">保存问卷</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">添加组件</h3>
        </div>
        <ul class="nav nav-stacked">
          <li><a class="add-item" id="type-normal">普通输入框 <span class="pull-right badge bg-blue">1</span></a></li>
          <li><a class="add-item" id="type-single">单选框 <span class="pull-right badge bg-aqua">0</span></a></li>
          <li><a class="add-item" id="type-multiple">多选框 <span class="pull-right badge bg-green">0</span></a></li>
          <li><a class="add-item" id="type-single-member">成员单选 <span class="pull-right badge bg-red">0</span></a></li>
          <li><a class="add-item" id="type-multiple-member">成员多选 <span class="pull-right badge bg-yellow">0</span></a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/template" id="normal-template">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="form-group has-feedback">
          <label>普通输入框</label>
          <input type="text" class="form-control" name="" placeholder="">
        </div>
        <div class="box-tools">
          <button class="btn btn-box-tool" onclick="removeItemClickListener(this)"><i class="fa fa-times"></i> 删除此项</button>
        </div>
      </div>
      <div></div>
      <div class="col-md-7">
        <div class="form-group">
          <label>标题</label>
          <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
        </div>
        <div class="form-group">
          <label>提示文字</label>
          <input type="text" class="form-control" name="hint" placeholder="" oninput="hintInputListener(this)">
        </div>
      </div>
    </div>
    <hr>
  </script>
  <script type="text/template" id="single-template">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="form-group">
          <label>单选框</label>
          <select class="form-control select2" name="">
          </select>
        </div>
        <div class="box-tools">
          <button class="btn btn-box-tool" onclick="removeItemClickListener(this)"><i class="fa fa-times"></i> 删除此项</button>
        </div>
      </div>
      <div></div>
      <div class="col-md-7">
        <div class="form-group">
          <label>标题</label>
          <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
        </div>
        <div class="form-group">
          <label>选项</label>
          <textarea class="form-control selections" rows="3" placeholder="选项用分号或者空格隔开" oninput="selectionInputListener(this)"></textarea>
        </div>
      </div>
    </div>
    <hr>
  </script>
  <script type="text/template" id="multiple-template">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="form-group">
          <label>多选框</label>
          <select class="form-control select2" name="" multiple="multiple">
          </select>
        </div>
        <div class="box-tools">
          <button class="btn btn-box-tool" onclick="removeItemClickListener(this)"><i class="fa fa-times"></i> 删除此项</button>
        </div>
      </div>
      <div></div>
      <div class="col-md-7">
        <div class="form-group">
          <label>标题</label>
          <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
        </div>
        <div class="form-group">
          <label>选项</label>
          <textarea class="form-control selections" rows="3" placeholder="选项用分号或者空格隔开" oninput="selectionInputListener(this)"></textarea>
        </div>
      </div>
    </div>
    <hr>
  </script>
  <script type="text/template" id="single-member-template">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="form-group">
          <label>成员单选</label>
          <select class="form-control select2" name="">
            <option selected>成员列表</option>
          </select>
        </div>
        <div class="box-tools">
          <button class="btn btn-box-tool" onclick="removeItemClickListener(this)"><i class="fa fa-times"></i> 删除此项</button>
        </div>
      </div>
      <div></div>
      <div class="col-md-7">
        <div class="form-group">
          <label>标题</label>
          <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
        </div>
      </div>
    </div>
    <hr>
  </script>
  <script type="text/template" id="multiple-member-template">
    <div class="row">
      <div class="col-md-5 border-right">
        <div class="form-group">
          <label>成员多选</label>
          <select class="form-control select2" name="">
            <option selected>成员列表</option>
          </select>
        </div>
        <div class="box-tools">
          <button class="btn btn-box-tool" onclick="removeItemClickListener(this)"><i class="fa fa-times"></i> 删除此项</button>
        </div>
      </div>
      <div></div>
      <div class="col-md-7">
        <div class="form-group">
          <label>标题</label>
          <input type="text" class="form-control" name="title" placeholder="" oninput="titleInputListener(this)">
        </div>
      </div>
    </div>
    <hr>
  </script>

  <script src="/static/plugins/select2/select2.full.min.js"></script>
  <script src="/static/plugins/icheck/icheck.min.js"></script>
  <script src="/static/lineme/js/zh_cn/trip/trip-none.js"></script>
  <script src="/static/lineme/js/question.js"></script>
  <script type="text/javascript">

    $('input[type="radio"].minimal').iCheck({
      radioClass: 'iradio_flat-green'
    });

    $('#search').autocomplete();

  </script>
{% endblock %}